body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #d1d1d1;
  margin: 0;
  font-family: Arial, sans-serif;
}

.profile-card {
  width: 100%;
  max-width: 500px;
  border-radius: 10%;
  overflow: hidden;
  background: white;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  height: 80vh;
  padding-bottom: 5rem;
}

.profile-header {
  background: linear-gradient(to bottom, #d82020, #a81414);
  height: 10rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 40px;
  position: relative;
  border-bottom-right-radius: 20%;
  border-bottom-left-radius: 20%;
}

.profilePicture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid white;
  object-fit: cover;
  position: absolute;
  bottom: -60px;
}

.profile-content {
  padding: 50px 20px 800px;
}

.fullName {
  margin: 10px 0;
  font-size: 22px;
  font-weight: bold;
}

.jobTitle {
  font-size: 16px;
  color: #444;
  font-weight: bold;
}

.shortBio {
  font-size: 14px;
  color: #666;
  margin: 10px 0;
  padding: 0 10px;
  width: 100%;
  max-width: 500px;
  margin: auto;
  margin-top: 25px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
  margin-bottom: 10rem;
}

.icon {
  font-size: 20px;
  text-decoration: none;
  color: #d82020;
  transition: 0.3s;
}

.icon:hover {
  color: #a81414;
}

.lineheight {
  width: 50%; 
  background-color: #d82020;
  border: #d82020 2px solid;
  padding: 1px;
}

@media (max-width: 800px) {
  .profile-card {
    width: 90%;
    max-width: 400px;
    padding-bottom: 8rem;
  }

  .profile-header {
    height: 8rem;
  }

  .profilePicture {
    width: 100px;
    height: 100px;
    bottom: -50px;
  }

  .fullName {
    font-size: 20px;
  }

  .jobTitle {
    font-size: 14px;
  }

  .shortBio {
    font-size: 12px;
    padding: 0 5px;
  }

  .social-icons {
    gap: 10px;
    margin-bottom: 5rem;
  }

  .icon {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .profile-card {
    width: 90%;
    max-width: 400px;
    padding-bottom: 5rem;
  }

  .profile-header {
    height: 6rem;
  }

  .profilePicture {
    width: 90px;
    height: 90px;
    bottom: -45px;
  }

  .fullName {
    font-size: 15px;
  }

  .jobTitle {
    font-size: 12px;
  }

  .shortBio {
    font-size: 10px;
    padding: 0 5px;
  }

  .social-icons {
    gap: 8px;
    margin-bottom: 4rem;
  }

  .icon {
    font-size: 16px;
  }
}
@media (min-width: 10px) {
  .profile-card {
    width: 90%;
    max-width: 400px;
    padding-bottom: 7rem;
    height: 80vh;
  }
  .fullName {
    font-size: 13px;
  }

  .jobTitle {
    font-size: 12px;
  }

  .shortBio {
    font-size: 12px;
    padding: 0 5px;
  }

  .social-icons {
    gap: 8px;
    margin-bottom: 4rem;
  }

  .icon {
    font-size: 16px;
  }}
